:host {
  ion-list {
    background-color: var(--ion-color-primary);
  }
}
ion-icon {
  color: #b14c4c;
}ion-label {
  color: #b14c4c;
}
ion-text {
  color: #b14c4c;
}
.transparent-background {
  --background: transparent;
}

  /* Agrega estilos personalizados aquí */
  ion-img {
    max-width: 170px;
    height: 150px;
    display: block;
    margin: auto;
    object-fit: cover; 
    border-radius: 10px; 
    background-color: transparent;
  }
  .btn-nn{
    display: flex;
    object-fit: cover;  
  }
  // reserva
  .mdl{
    position: relative;
;
  }
  .full-screen-reserva {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/reserva.png');

  }
 
  


  .custom-padding {
    margin: 20px; /* Puedes ajustar el valor según tus necesidades */
padding: 30px;
  }


  .contenedor-flex {
    display: flex;
    align-items: center;
  }
  
  h3 {
    
    margin-top: 6px;
  }
  
  img {
    padding: 16px;
    max-width: 50%; /* La imagen ocupará el 100% del ancho del contenedor */
  }
  

  .custom-modal {
    --height: 50vh; /* Ajusta el porcentaje de altura según tus necesidades */
    --width: 100vw; /* Opcional: Ajusta el porcentaje de ancho según tus necesidades */
    --top: 50%; /* Ajusta la posición vertical en la que quieres que aparezca el modal */
  
    position: absolute;
    top: var(--top);
    left: 0;
    width: var(--width);
    height: var(--height);
    margin-top: calc(-1 * var(--height) / 2);
    transform: translateY(100%);
  }

  .custom-modal ion-content {
    height: 100%;
  }
  
  .custom-modal.ion-modal-showing {
    --height: 50vh; /* Ajusta el porcentaje de altura según tus necesidades */
    transform: translateY(0);
  }



.con-borde {
  background-color: rgb(177, 142, 97);
  margin: 10px;
 /* Ajusta el color y el grosor del borde según tus preferencias */
  border-radius: 8px; /* Ajusta el radio para redondear las esquinas según tus preferencias */
}

ion-segment-button {
  &.selected {
    background-color: #e0e0e0;  // Cambia esto al color que desees
  }
}

