<ion-header>
  <ion-toolbar>
    <ion-title class="logo-carrito">Check out</ion-title>
    <ion-buttons slot="start" color="#000">
      <ion-back-button
        style="--color: #000"
        text="Volver"
        defaultHref="/payments"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-small">Envío</ion-card-title>
      <br />

      <ion-segment [(ngModel)]="selectedOption" value="envio">
        <ion-segment-button value="envio">
          <ion-card-subtitle>Envio</ion-card-subtitle>
        </ion-segment-button>
        <ion-segment-button value="recoger">
          <ion-card-subtitle>Recoger</ion-card-subtitle>
        </ion-segment-button>
      </ion-segment>

      <!-- Contenido para la opción "Envio" -->
      <div *ngIf="selectedOption === 'envio'">
        <!-- Contenido específico para Envio -->
        <ion-card-content>
          <!-- Agrega aquí el contenido específico para la opción de envío -->
          <ion-list>
            <ion-item>
              <ion-select
                placeholder="Selecciona una dirección"
                class="select-black"
                cancelText="Cancelar"
                okText="Aceptar"
              >
                <ion-select-option value="casa">Casa</ion-select-option>
                <ion-select-option value="trabajo">Trabajo</ion-select-option>
                <ion-select-option value="casaCarmen"
                  >Casa Tía Carmen</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </div>

      <!-- Contenido para la opción "Recoger" -->
      <div *ngIf="selectedOption === 'recoger'" class="recoger-content">
        <!-- Contenido específico para Recoger -->
        <!-- <ion-card-content>

            <ion-text >Tu pedido cuenta con un tiempo de espera de: 20 minutos</ion-text>
          </ion-card-content> -->
      </div>
    </ion-card-header>
  </ion-card>


  <!-- card metodo pago -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-small">Método de pago</ion-card-title>
      <br />

      <ion-segment [(ngModel)]="paymentMethod" value="payment">
        <ion-segment-button value="tarjeta">
          <ion-card-subtitle>Tarjeta</ion-card-subtitle>
        </ion-segment-button>
        <ion-segment-button value="efectivo">
          <ion-card-subtitle>Efectivo</ion-card-subtitle>
        </ion-segment-button>
      </ion-segment>

      <!-- Contenido para la opción "Envio" -->
      <div *ngIf="paymentMethod === 'tarjeta'">
        <!-- Contenido específico para Envio -->
        <ion-card-content>
          <!-- Agrega aquí el contenido específico para la opción de envío -->
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="floating">Numero de tarjeta</ion-label>
              <ion-input formControlName="cardNumber" type="number"></ion-input>
              <div *ngIf="paymentForm.get('cardNumber').invalid && (paymentForm.get('cardNumber').dirty || paymentForm.get('cardNumber').touched)">
                <ion-text color="danger">Este campo es obligatorio y debe contener 16 dígitos.</ion-text>
              </div>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Titular de la tarjeta</ion-label>
              <ion-input formControlName="cardHolder" type="text"></ion-input>
              <div *ngIf="paymentForm.get('cardHolder').invalid && (paymentForm.get('cardHolder').dirty || paymentForm.get('cardHolder').touched)">
                <ion-text color="danger">Este campo es obligatorio.</ion-text>
              </div>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Fecha de expiracion (MM/AA)</ion-label>
              <ion-input formControlName="expirationDate" type="text"></ion-input>
              <div *ngIf="paymentForm.get('expirationDate').invalid && (paymentForm.get('expirationDate').dirty || paymentForm.get('expirationDate').touched)">
                <ion-text color="danger">Este campo es obligatorio y debe contener una fecha válida (MM/AA).</ion-text>
              </div>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">CVV</ion-label>
              <ion-input formControlName="cvv" type="number"></ion-input>
              <div *ngIf="paymentForm.get('cvv').invalid && (paymentForm.get('cvv').dirty || paymentForm.get('cvv').touched)">
                <ion-text color="danger">Este campo es obligatorio y debe contener 3 dígitos.</ion-text>
              </div>
            </ion-item>
          </form>
          
          
          
        </ion-card-content>
      </div>

      <!-- Contenido para la opción "Recoger" -->
      <div *ngIf="paymentMethod === 'efectivo'" class="recoger-content">
        <!-- Contenido específico para Recoger -->
        <!-- <ion-card-content>

            <ion-text >Tu pedido cuenta con un tiempo de espera de: 20 minutos</ion-text>
          </ion-card-content> -->
      </div>
    </ion-card-header>
  </ion-card>





  <ion-card>
    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>Descuento</ion-col>
          <ion-col size="7"></ion-col>
          <ion-col class="ion-text-end">$0</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Subtotal</ion-col>
          <ion-col size="7"></ion-col>
          <ion-col class="ion-text-end">${{totalSum}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Envio</ion-col>
          <ion-col size="7"></ion-col>
          <ion-col class="ion-text-end">${{ paymentMethod === 'efectivo' ? '0' : '25' }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Total</ion-col>
          <ion-col size="7"></ion-col>
          
          <ion-col class="ion-text-end">${{totalSum + (paymentMethod === 'efectivo' ? 0 : 25)}}</ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-button (click)="alerta()" class="ion-padding" [disabled]="!paymentForm.valid && paymentMethod === 'tarjeta'" type="submit" style="color: #817c7c; display: flex; align-items: center; justify-content: center;">
        <!-- <ion-icon slot="start" name="star"></ion-icon> -->
        <span style="text-align: center;color: #410d0d; font-family:'Lucida Sans', 'Lucida Sans Regular'; padding-right: 8px;">
          Pagar
        </span> 
      </ion-button>
      
 <!-- <ion-button expand="full" type="submit" [disabled]="!paymentForm.valid" style="font-color:black">Aceptar</ion-button> -->
    </ion-card-header>
  </ion-card>
</ion-content>
