<ion-header>
  <ion-toolbar>
    <ion-title>Agregar producto</ion-title>
    <ion-button (click)="closeModal()" style="--background: transparent;" slot="end">
      <ion-icon name="close" style="color: rgb(0, 0, 0);"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>


    <ion-card-header style="text-align: center">
      <ion-card-title style="margin-top: 0; padding-top: 0;">{{ productName }}</ion-card-title>
      <ion-card-title style="font-size: 1.5rem; margin-bottom: 0;">${{ price }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: center">
      <div style="text-align: center">
        <div style=" padding: 10px">
          <ion-button style="color: antiquewhite;" (click)="decreaseQuantity()">-</ion-button>
          <ion-button style="color: antiquewhite">{{ quantity }}</ion-button>
          <ion-button style="color: antiquewhite" (click)="increaseQuantity()">+</ion-button>
        </div>
        <ion-button style="color: antiquewhite" (click)="addToCart()">Agregar al carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
