ion-card {
    border: 1px solid #ca7a8c; /* Puedes ajustar el color y grosor del borde según tus preferencias */
    border-radius: 10px; /* Puedes ajustar el radio de borde según tus preferencias */
    margin-bottom: 15px; /* Ajusta el espacio entre las tarjetas según tus preferencias */
  }
  .quantity-modal{
height: 400px;
  }