/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #da7c91;
  --ion-color-primary-rgb: #da7c91;
  --ion-color-primary-contrast: #b14c4c;
  --ion-color-primary-contrast-rgb: #b77585;
  --ion-color-primary-shade: #c4c4c4;
  --ion-color-primary-tint: #444444;

  /** secondary **/
  --ion-color-secondary: #ce82ac;
  --ion-color-secondary-rgb: #5b5fde;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: #ffffff;
  --ion-color-secondary-shade: #b64b89;
  --ion-color-secondary-tint: #e478d6;

  /** tertiary **/
  --ion-color-tertiary: #f691ff;
  --ion-color-tertiary-rgb: #91c5ff;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: #000000;
  --ion-color-tertiary-shade: #e080a8;
  --ion-color-tertiary-tint: #ff9cde;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: #10dc60;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: #ffffff;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: #ffce00;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: #000000;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: #f53d3d;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: #ffffff;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** white **/
  // --ion-color-white: #ca3f62;
  // --ion-color-white-rgb: #ee8ea5;
  // --ion-color-white-contrast: #ffffff;
  // --ion-color-white-contrast-rgb: #b77585;
  // --ion-color-white-tint: #444444;

  /** medium **/
  --ion-color-medium: #ccd1e1;
  --ion-color-medium-rgb: #989aa2;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: #000000;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: #f4f4f4;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: #000000;
}