:host {
  body {
    background-color: white;
    ;
  }

  ion-content,
  .toolbar-search {
    --background-color: white;
  }

  ion-list {
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: white;
  }

  ion-label {
    font-size: 16px;
    font-weight: 700;
  }
  .logo-carrito{
    justify-content:center;
    color:#ca7a8c;
    text-align:center
  }
  .img-card{
    border-radius: 10%;
  }
}



.bordered-container {
  border: 1px solid #000; /* Cambia #000 al color que desees para el borde */
  padding: 6px; /* Ajusta el relleno según tus necesidades */
  border-radius: 6px; /* Ajusta el radio para redondear las esquinas */
  border-color: #ca7a8c;

  .logo-carrito{
    justify-content:center;
    color:#b64b89;
  }
  .img-card{
    border-radius: 10%;
  }
}

.button-click{
  background-color: #ca7a8c;
  border-radius: 6px; /* Ajusta el radio para redondear las esquinas */
  font-weight: bold;
}

.negro {
  color: rgb(43, 41, 41); /* o cualquier otro color que desees */
  font-size: 15px;

}