<!-- <ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Carrito de compra
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header>
    <ion-toolbar class="toolbar-search">
      <ion-searchbar color="dark" showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">



  </div> -->


      <ion-header>
        <ion-toolbar>
          <ion-title>Mis direcciones</ion-title>
          <ion-buttons slot="end">
            <!-- <ion-button color="dark" (click)="modal.dismiss()">Cerrar</ion-button> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Casa</ion-card-title>
            <br/>
            <ion-card-subtitle>Avenida Constitución entre calle 24 y 26 - #450 - Zona industrial - Calle azul de dos pisos</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            C.P 98349
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Trabajo</ion-card-title>
            <br/>
            <ion-card-subtitle>Calle 58 entre calle 16 y 18 - #23A - Residencia del bosque - Casa blanca con rejas cafés</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            C.P 98346
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Casa Tia Carmen</ion-card-title>
            <br/>
            <ion-card-subtitle>Calle Caracol entre calle 12 y 14 - Departamento 8 - Zona centro - Departamentos verdes enfrente del parque</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            C.P 98360
          </ion-card-content>
        </ion-card>

        <ion-button>
          <ion-icon slot="start" name="star"></ion-icon>
          Left Icon
        </ion-button>
      </ion-content>


</ion-content>
